Options +FollowSymlinks
RewriteEngine on
RewriteBase /anime_junkies/dashboard/
RewriteCond $1 !^(index\.php|images|robots\.txt|js|css)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

